/* Removes standard margin, padding from all elements and applies box model aka width and height include padding and border*/
* {
    margin: 0;                
    padding: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 100vh and widht 100% of parent element (body) - ensures the body takes up full height of viewport/visible area of the web page. */
    height: 100vh;
    width: 100%;
    background-color: hsl(225, 100%, 94%);
    /* overflow:hidden; */
    /*  */
    position: relative;
    
  }

  .container{
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid;
    z-index: 1;
    
  }

 svg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left:0;
  z-index -1;
 }