/* Removes standard margin, padding from all elements and applies box model aka width and height include padding and border*/
* {
    margin: 0;                
    padding: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 100vh and widht 100% of parent element (body) - ensures the body takes up full height of viewport/visible area of the web page. */
    height: 100vh;
    width: 100%;
    background-color: hsl(225, 100%, 94%);
    /* overflow:hidden; */
    /*  */
    position: relative;
    
  }

  .container{
    width: 320px;
    height: 500px;
    display: flex;

    flex-direction: column;
    border: 2px solid;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    text-align: center;
  
    
  }

 img .top-image{
    max-width: 100%;
  }

 svg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left:0;
  z-index -1;
 }

.buttons{
  /* Pushes buttons to bottom */
 display: flex;
 flex-direction: column;
 align-items: center;
 
}

button{
  padding: 10px 5px;
  width:150px;
  border-radius: 10px;
  border: none;
}